@model IEnumerable<FA.JustBlog.Models.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "_DetailLayout";
}
<h1>All Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<main>
    <h2><strong>Lastest Post</strong></h2>
    <partial name="~/Views/Shared/Components/_ListPostPartial.cshtml" />
</main>
