<header class="masthead" style="background-image: url('/Blogs/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Hot Blog</h1>
                    <span>Click Login Button to login</span>
                    <span>Username: test@gmail.com</span>
                    <span>Pass:User@00</span>
                    <span class="subheading">Take Some Information About Drinks, Milks... In This Blog - Haha</span>
                </div>
            </div>
        </div>
    </div>
</header>
