<section class="masthead" style="background-image: url('Blogs/assets/img/about-2.jpg'); ">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h2>About Coda</h2>
                    <span class="subheading">About me the page of this DJ and hip-hop artist tells you his story in different languages – English, Korean, Japanese, and Chinese. Attracting these fans makes Kero One’s brand more inclusive of all the markets he identifies with..</span>
                </div>
            </div>
        </div>
    </div>
</section>